
      <div class="col-md-3">
        <div class = "panel panel-sm">
            Tape: <%= @tape.title %><br/>
            <%= link_to '', @tape, class: "glyphicon glyphicon-music"%>
            <a href="#" data-toggle="modal" data-target="#myModal_<%= @tape.id%>">
                <span class="glyphicon glyphicon-play"></span>
            </a>
          <div class = "panel-body, float-left">
            <%= image_tag ('blacktape.png')%>
          </div>          
        </div>
      </div>

       <!-- Modal -->
      <div class="modal fade" id="myModal_<%=@tape.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-background" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><br/><br/></br>
              <center><h4 class="modal-title" id="myModalLabel"></h4></center>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                    <% @tape.songs.each do |song| %>
                      <div class="row">
                      <div class="col-md-5 track_name">
                      <p><%= song.name %></p><!-- <button type="button" class= "glyphicon glyphicon-play"></button></p> -->
                      </div>
                      <div class="col-md-7">
                      <audio controls <source src="<%= song.audio.url %>" type="audio/mpeg" />
                      </audio>
                      </div>
                      </div>
                    <%end%>
              </div>
            </div>  
            <div class="modal-footer">
              <div class="note">
                <%= @tape.note %>
              </div>
            </div>
          </div>
        </div>
      </div>
