<h4>Add Some Tracks</h4><br/>

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-4">
    <center>
      <div class="panel panel-default panel-two">
          <p class="tape_name"><%=@tape.title%>
          <%= link_to "", edit_tape_path, class: "glyphicon glyphicon-edit"%></p>
          <div>
          	<%= render 'songs/form' %>
          </div>
      </div>
    </center>
  </div>

  <div class="col-sm-4">
    <h3> Tracks </h3>
      <% @tape.songs.each do |song| %>
            <p class="track_name"><%= song.name %>
            <%= link_to '', song, class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <%end%>
  </div>

</div>

