<div class="col-sm-4">
  <div class="panel panel-primary">
    <center><div class="tape_name">
      <%= @tape.title%>
    </div></center>
    <center><div>
      <%= link_to 'Edit', edit_tape_path(@tape) %> 
    </div></center>
    <div class="panel panel-body">
      <h4> Add some tracks </h4>
      <div>
      	<%= render 'songs/form' %>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <h3> Tracks </h3>
  <% @tape.songs.each do |song| %>
    <p><strong><%= song.name %></strong>
    <%= link_to '', song, class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' } %>

  <%end%>
</div>

